In [27]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'cherry', 'apple', 'banana'}

In [28]:
thisset = {"apple", "banana", "cherry", "apple", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [29]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'apple', 2, True, 'cherry', 'banana'}

In [30]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, 'apple', True, 'cherry', 'banana'}

In [31]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [32]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [33]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'cherry', 'apple', 'banana'}

In [34]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [35]:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)
print("banana" in thisset)

False
True

In [36]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

In [37]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'papaya', 'pineapple', 'mango', 'cherry', 'banana'}

In [38]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'kiwi', 'cherry', 'orange', 'banana'}

In [39]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [40]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [41]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

In [42]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [43]:
thisset = {"apple", "banana", "cherry"}

del thisset

In [44]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [45]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [46]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'John', 'apple', 'b', 'cherry', 'bananas', 'a', 'c', 'Elena'}

In [47]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'John', 'apple', 'b', 'cherry', 'bananas', 'a', 'c', 'Elena'}

In [48]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'a', 'c'}

In [49]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [50]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [51]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [52]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [53]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

In [54]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [55]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'google', 'cherry', 'microsoft', 'banana'}

In [56]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2 #symmetric_difference() 
print(set3)

{'google', 'cherry', 'microsoft', 'banana'}

In [57]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'google', 'cherry', 'microsoft', 'banana'}